body {
    text-align: center;
    background-color: #242424;
    margin: 0;
    width: 100%;
    display: absolute;
}

.topBar {
    background-color: black;
    height: 120px;
    display: flex;
    align-items: center;
    align-content: space-between;
}

.logoImg {
    width: 173px;
    height: 70px;
    margin-right: 10%;
    margin-left: 45%;
    align-items: center;
    display: absolute;
}

.login {
    border: transparent;
    background-color: transparent;
    text-transform: uppercase;
    color:#AB821A;
    font-size: 14px;
    margin-left: auto;
    margin-right: 2%;
    display: absolute;
}

.register {
    padding: 11px 34px 11px 34px;
    background-color: transparent;
    border: 1px solid #AB821A;
    border-radius: 33px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    margin-right: auto;
    display: absolute;
}

.leftImg {
    float: left;
    height: 385px;
    width: 632px;
    margin-left: 17%;
    margin-top: 2.5%;
}

.freeSpins {
    position: absolute;
    margin-top: 2%;
    margin-left: -5%;    
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding: 9px 22px 8px 23px;
    background-color: transparent;
    border: 1px solid #525252;
    border-radius: 33px;
    color: #AB821A;
    font-size: 14px;
    text-transform: uppercase;
}

.rightTxt {
    float:right;
}

h1 {
    font-size: 32px;
    color: #FFFFFF;
    font: Montserrat;
    text-align: left;
    margin-left: 46%;
    margin-top: -27%;
}

h2 {
    font-size: 24px;
    color: #FFFFFFB3;
    font: Montserrat;
    text-align: left;
    margin-left: 46%;
}

.textParag {
    font-size: 16px;
    color: #FFFFFFB3;
    text-align: left;
    margin-left: 46%;
    margin-right: 14%;
    align-content: space-between;
}

.detailsLink {
    font-size: 16px;
    color: #AB821A;
    text-decoration: underline;
}


.deposit {
    padding: 13px 47px 13px 47px;
    background-color: #AB821A;
    border: 1px solid #AB821A;
    border-radius: 33px;
    color: #FFFFFF;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 10.5%;
    margin-left: 5%;
}

.bottomMenu {
    float: left;
    text-align: left;
    background-color: #313131;
    width: 1180px;
    height: 350px;
    border-radius: 10px;
    margin-top: 2%;
    margin-left: 17%;
    margin-bottom: 5%;
}

.firstNav+.secondNav+.thirdNav+.fourthNav+.titles+.subTitles{
    display: flex;
    /* justify-content: space-evenly;     */
    flex-direction: column;
    margin-bottom: 0.5%;
}
.titles {
    color: #FFFFFF;
    font-size: 18px;
}

.subTitles {
    color: #FFFFFFB3;
    font-size: 14px;
}


.firstNav {
    margin-left: 4%;
}

.secondNav {
    margin-left: 30%;
    margin-top: -18%;

}

.thirdNav {
    margin-left: 60%;
    margin-top: -18%;
}

.fourthNav {
    margin-left: 88%;
    margin-top: -17.92%;
} 

hr {
    border: 1px solid #242424;
    width: 1100px;
    margin-top: 1%;
}

svg {
    margin-left: 2%; 
    margin-top: 2%;
}

.about-dot-me {
    margin-left: 32%;
} 


.titles:hover, 
.subTitles:hover, 
.deposit:hover, 
.detailsLink:hover,
.freeSpins:hover,
.register:hover,
.login:hover,
.logoImg:hover,
svg:hover {
    cursor: pointer;
}